[Unit]
Description=Write static host name to IP address mappings to /etc/avahi/hosts for mdns
Wants=network-online.target cjdns.service yggdrasil.service
After=network-online.target cjdns.service yggdrasil.service

[Service]
Type=oneshot
ExecStart=/bin/sh -ec "echo \"`networkctl status tun0 tun1 | grep 'Address: fc' | awk '{ print $2 }'` cjdns.`cat /etc/hostname`.local\" >> /etc/avahi/hosts; \
 echo \"`networkctl status tun0 tun1 | grep 'Address: fd' | awk '{ print $2 }'` ygg.`cat /etc/hostname`.local\" >> /etc/avahi/hosts;"

[Install]
WantedBy=multi-user.target
